<h1>Shop</h1>
<p>Welcome to my online shop!</p>

<div class="container">
    <% i = 0 %>
    <% @product.each do |product| %>
    
        <% if i % 3 == 0 %>
        
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right"><%= product.price %></h4>
                                        <h4><a href="#"><%= product.name %></a></h4>
                                        <p><%= product.description %></p>
                                    </div>
                                </div>
                            </div>
                            
        <% end %>
        <% if i % 3 == 1 %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right"><%= product.price %></h4>
                                        <h4><a href="#"><%= product.name %></a></h4>
                                        <p><%= product.description %></p>
                                    </div>
                                </div>
                            </div>
         
        <% end %> 
        <% if i % 3 == 2 %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right"><%= product.price %></h4>
                                        <h4><a href="#"><%= product.name %></a></h4>
                                        <p><%= product.description %></p>
                                    </div>
                                </div>
                            </div>
        
                            
        <% i += 1 %> 
        <% end %>
                        
                        
    <% end %>
</div>